<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/29175b12-3f3d-49b3-bfe0-9c41d5e50ba9/resourceGroups/FraseDelDiaAPIResource/providers/Microsoft.Web/sites/FraseDelDiaAPI</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://frasedeldiaapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>frasedeldiaapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FraseDelDiaAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FraseDelDiaAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>