<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ff3298eb-7a06-4c26-828a-71ae7b8591e5/resourceGroups/FraseDelDiaResource/providers/Microsoft.Web/sites/FraseDelDia</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://frasedeldia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>frasedeldia.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FraseDelDia</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FraseDelDia</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>